<?xml version="1.0" encoding="UTF-8"?>
<beans	xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:jaxrs="http://cxf.apache.org/jaxrs"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
		
		<import resource="classpath:META-INF/cxf/cxf.xml" />
		
		<context:component-scan base-package="com.jarias14.tekstratego.service"/>
		
		<jaxrs:server id="restContainer" address="/thinker-service/">
			<jaxrs:serviceBeans>
				<ref bean="restThinkerService" />
			</jaxrs:serviceBeans>
		</jaxrs:server>
		
		<jaxrs:server id="restContainer" address="/pricer-service/">
			<jaxrs:serviceBeans>
				<ref bean="restPricerService" />
			</jaxrs:serviceBeans>
		</jaxrs:server>
		
		<bean id="couchbaseClientUriFactory" class="java.net.URI" />
		<bean id="couchbaseClientUri" factory-bean="couchbaseClientUriFactory" factory-method="create">
			<constructor-arg value="http://127.0.0.1:8091/pools" />
		</bean>
    
		<bean id="couchbaseClient" class="com.couchbase.client.CouchbaseClient">
			<property name="client" ref="couchbaseClientUri"/>
		</bean>
		
		<bean id="restfulClient" class="com.jarias14.tekstratego.service.thinker.dao.util"/>
   
   
</beans>